[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "doseminer"]
	path = doseminer
	url = https://github.com/selbosh/doseminer
	shallow = true
	registered = true
[submodule "ggChernoff"]
	path = ggChernoff
	url = https://github.com/selbosh/ggchernoff
	shallow = true
	registered = true
[submodule "index0"]
	path = index0
	url = https://github.com/selbosh/index0
	shallow = true
	registered = true
